.skeleton {
  position: relative;
  background-color: rgb(154, 154, 154);
  margin: 1rem 0;
  border-radius: 2px;
  animation: skeleton-loading 1s linear infinite alternate;
}

.skeleton.centre {
  margin-left: auto;
  margin-right: auto;
}

@keyframes skeleton-loading {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.7;
  }
}
